In [205]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.neighbors import KNeighborsRegressor

In [181]:
test_data = pd.read_csv('train.csv')

In [182]:
test_data['Minimum_price']

0       2983.0
1       7495.0
2       5752.0
3       5090.0
4       2430.0
         ...
6363    8174.0
6364    3564.0
6365    5303.0
6366    4334.0
6367    3975.0
Name: Minimum_price, Length: 6368, dtype: float64

In [183]:
sample_test = pd.read_csv('test.csv')

In [184]:
train = pd.read_csv("train_preprocessed.csv")
test = pd.read_csv("test_preprocessed.csv")

In [185]:
train_columns = ['Grade', 'Demand', 'Selling_Price', 'Discount_avail', 'Loyalty_customer_No ', 'Loyalty_customer_Yes']

In [188]:
train = train[train_columns]

In [189]:
train.columns

Index(['Grade', 'Demand', 'Selling_Price', 'Discount_avail',
       'Loyalty_customer_No ', 'Loyalty_customer_Yes'],
      dtype='object')

In [190]:
train

,Grade,Demand,Selling_Price,Discount_avail,Loyalty_customer_No,Loyalty_customer_Yes
0,0.336652,0.602814,4185.947700,-0.406391,0,1
1,-0.631719,0.014897,9271.490256,-0.406391,0,1
2,-0.631719,-1.403020,6785.701362,-0.406391,0,1
3,1.305023,-0.088853,13028.917824,-0.406391,0,1
4,0.336652,-0.538436,906.553935,2.460681,0,1
...,...,...,...,...,...,...
6322,-0.631719,-0.123436,10277.520192,-0.406391,0,1
6323,-0.631719,-0.538436,4501.837200,-0.406391,0,1
6324,2.273394,-0.745936,10218.878775,-0.406391,1,0
6325,-0.631719,-1.472186,5359.493997,-0.406391,0,1
6326,-0.631719,1.501981,5220.013568,-0.406391,0,1

In [192]:
train.reset_index(drop=True)

,Grade,Demand,Selling_Price,Discount_avail,Loyalty_customer_No,Loyalty_customer_Yes
0,0.336652,0.602814,4185.947700,-0.406391,0,1
1,-0.631719,0.014897,9271.490256,-0.406391,0,1
2,-0.631719,-1.403020,6785.701362,-0.406391,0,1
3,1.305023,-0.088853,13028.917824,-0.406391,0,1
4,0.336652,-0.538436,906.553935,2.460681,0,1
...,...,...,...,...,...,...
6322,-0.631719,-0.123436,10277.520192,-0.406391,0,1
6323,-0.631719,-0.538436,4501.837200,-0.406391,0,1
6324,2.273394,-0.745936,10218.878775,-0.406391,1,0
6325,-0.631719,-1.472186,5359.493997,-0.406391,0,1
6326,-0.631719,1.501981,5220.013568,-0.406391,0,1

In [193]:
test

,Unnamed: 0,Loyalty_customer_No,Loyalty_customer_Yes,Product_Category_Child_care,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,...,Product_Category_Repair,Product_Category_Technology,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Product_id,Stall_no
0,0,1,0,0,0,0,1,0,0,0,...,0,0,0.039733,-0.631719,1.363648,-0.406391,0.935380,1.327132,SCHE4YSTDVPVZVXW,39.0
1,1,0,1,0,0,0,1,0,0,0,...,0,0,-1.150066,-0.631719,1.259898,-0.406391,1.035543,1.327132,ACCEGCATKHNRXUHW,49.0
2,2,1,0,0,0,0,0,0,0,0,...,0,1,-0.089849,1.305023,0.153231,-0.406391,1.806024,-0.230234,NKCE6GJ5XVJDXNNZ,1.0
3,3,0,1,1,0,0,0,0,0,0,...,0,0,0.940917,2.273394,1.225314,-0.406391,0.342110,1.327132,NKCEB8BK3ZXDHDHM,8.0
4,4,1,0,0,0,0,0,0,0,0,...,0,1,-0.184091,-0.631719,-0.815103,-0.406391,2.376181,1.327132,TOPEFDXSAHRNPF94,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,3425,0,1,0,0,0,0,0,0,0,...,0,0,-0.826111,-0.631719,-0.400103,-0.406391,-1.090986,-1.120157,BBAE9K7BXFUTDNBK,9.0
3426,3426,0,1,0,0,0,0,0,0,0,...,0,1,0.940917,2.273394,-1.160936,-0.406391,1.929302,-0.897676,RTRDYPA4PJHCJCGF,30.0
3427,3427,0,1,0,0,1,0,0,0,0,...,0,0,-0.543386,-0.631719,-0.503853,-0.406391,-0.836727,1.549613,TUNE8FWQBS7TVVT7,14.0
3428,3428,0,1,1,0,0,0,0,0,0,...,0,0,-0.555167,-0.631719,0.429898,-0.406391,0.511616,1.104652,NKCEGMUABCRGUZPE,1.0
3429,3429,1,0,0,0,0,0,0,0,0,...,1,0,-0.195871,-0.631719,1.432814,2.460681,-0.235751,-0.230234,RNGE7M92KAQWUBCS,3.0

In [194]:
test_columns = ['Grade', 'Demand', 'Discount_avail', 'Loyalty_customer_No ', 'Loyalty_customer_Yes']

In [195]:
train.columns

Index(['Grade', 'Demand', 'Selling_Price', 'Discount_avail',
       'Loyalty_customer_No ', 'Loyalty_customer_Yes'],
      dtype='object')

In [196]:
test = test[test_columns]

In [197]:
test.isna().sum()

Grade                   0
Demand                  0
Discount_avail          0
Loyalty_customer_No     0
Loyalty_customer_Yes    0
dtype: int64

In [198]:
test.columns

Index(['Grade', 'Demand', 'Discount_avail', 'Loyalty_customer_No ',
       'Loyalty_customer_Yes'],
      dtype='object')

In [199]:
def model_fit(model, train_X, train_y, test_X, sample_test, filename):
    model.fit(train_X, train_y)
    train_pred = np.abs(model.predict(train_X))
    test_pred = model.predict(test_X)
    sample_test['Selling_Price'] = np.abs(test_pred)
    sample_test.to_csv(filename, index = False)

In [200]:
train_X = train.drop(columns='Selling_Price')

In [201]:
train_y = train['Selling_Price']

In [202]:
test

,Grade,Demand,Discount_avail,Loyalty_customer_No,Loyalty_customer_Yes
0,-0.631719,1.363648,-0.406391,1,0
1,-0.631719,1.259898,-0.406391,0,1
2,1.305023,0.153231,-0.406391,1,0
3,2.273394,1.225314,-0.406391,0,1
4,-0.631719,-0.815103,-0.406391,1,0
...,...,...,...,...,...
3425,-0.631719,-0.400103,-0.406391,0,1
3426,2.273394,-1.160936,-0.406391,0,1
3427,-0.631719,-0.503853,-0.406391,0,1
3428,-0.631719,0.429898,-0.406391,0,1
3429,-0.631719,1.432814,2.460681,1,0

In [222]:
poly = PolynomialFeatures(degree = 20)
X_poly = poly.fit_transform(train_X)

In [217]:
model = [LinearRegression()]

In [204]:
for i in model:
    print(i)
    model_fit(i, train_X, train_y, test, sample_test, str(i)[:-2]+"new2.csv")

LinearRegression()

In [218]:
X_poly

array([[ 1.        ,  0.33665206,  0.60281423, ...,  0.        ,
         0.        ,  1.        ],
       [ 1.        , -0.63171885,  0.01489739, ...,  0.        ,
         0.        ,  1.        ],
       [ 1.        , -0.63171885, -1.40301971, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [ 1.        ,  2.27339387, -0.74593618, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.        , -0.63171885, -1.47218639, ...,  0.        ,
         0.        ,  1.        ],
       [ 1.        , -0.63171885,  1.50198117, ...,  0.        ,
         0.        ,  1.        ]])

In [219]:
poly_reg = LinearRegression()

In [220]:
poly_reg.fit(X_poly, train_y)
poly_reg

LinearRegression()

In [223]:
poly_reg.fit(train_X, train_y)
train_pred = np.abs(poly_reg.predict(train_X))
test_pred = poly_reg.predict(test)
sample_test['Selling_Price'] = np.abs(test_pred)
sample_test.to_csv("Polynomial_regression.csv", index = False)